:root {
  --primary-bg: hsl(72, 100%, 2%);
  --primary-bg-transparent: hsla(260, 23%, 8%, 0.9);
  --cyber-green: hsl(72, 100%, 68%);
  --cyber-blue: hsl(183, 99%, 71%);
  --win-color: hsl(149, 78%, 47%);
  --cyber-red: rgb(228, 27, 51);
  --winner-panel-color: #14241a;
  --new-game-button: hsla(143, 29%, 11%, 0.8);

  --cap-blink-duration: 250ms;
  --cap-blink-transition-delay: 325ms;
  --cap-expand-duration: 300ms;
  --cap-expand-delay: calc(
    var(--cap-blink-transition-delay) + var(--cap-blink-duration)
  );
  --backPanel-expand-duration: 300ms;
  --back-panel-expand-delay: calc(
    var(--cap-expand-delay) + var(--cap-expand-duration)
  );
  --winner-panel-duration: 300ms;
  --winner-panel-delay: calc(
    var(--backPanel-expand-duration) + var(--back-panel-expand-delay)
  );

  --newGame-button-duration: 750ms;
  --intersection-timing: -250ms;
  --newGame-button-delay: calc(
    var(--winner-panel-duration) + var(--winner-panel-delay) +
      var(--intersection-timing)
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-bg);
}

body {
  line-height: 1;
  font-family: "Saira Condensed";
  cursor: url(assets/images/cursors/cyber-cursor.png) 16 16, auto;
  --main-wrapper-gap: 1rem;
  --lr-svg-width: clamp(0.125rem, -0.1023rem + 1.1364vw, 0.75rem);
  --header-lr-padding: calc(var(--lr-svg-width) + var(--main-wrapper-gap));
}

button {
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page-wrapper {
  min-height: 100dvh;
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 2rem 0;
}

.titling-wrapper {
  width: fit-content;
  justify-self: start;
}

.stacked {
  display: grid;
  align-items: center;
}

.stacked > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.grid-points {
  height: clamp(1.5rem, 3vw, 2.125rem);
  filter: drop-shadow(0 0 0.05em var(--cyber-green));
}

.grid-points-wrapper {
  position: relative;
}

.grid-points-wrapper::before {
  content: url("data:image/svg+xml,%3Csvg width='3000' height='30' viewBox='0 0 3000 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='3000' y2='0.5' stroke='%23D2DA08'/%3E%3Cline y1='0.5' x2='3000' y2='0.5' stroke='%23D2DA08'/%3E%3Cline y1='8.5' x2='3000' y2='8.5' stroke='%23D2DA08'/%3E%3Cline y1='16.5' x2='3000' y2='16.5' stroke='%23D2DA08'/%3E%3Cline y1='24.5' x2='3000' y2='24.5' stroke='%23D2DA08'/%3E%3Cline y1='32.5' x2='3000' y2='32.5' stroke='%23D2DA08'/%3E%3Cline y1='40.5' x2='3000' y2='40.5' stroke='%23D2DA08'/%3E%3Cline y1='48.5' x2='3000' y2='48.5' stroke='%23D2DA08'/%3E%3C/svg%3E%0A");
  position: absolute;
  left: 110%;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  align-items: start;
  max-width: 1100px;
  justify-self: center;
  width: 100%;
  padding: 0 var(--header-lr-padding);
}

.header-bar {
  background-color: var(--cyber-green);
  position: relative;
  z-index: 1;
  box-shadow: inset 0px 0px 10px 3px var(--cyber-green), 0px 0px 8px 1px #336530;
  height: 35px;
  max-width: 550px;
  width: 100%;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (min-width: 645px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.header-bar > div:not(:last-child) {
  line-height: initial;
}

.session-text {
  font-size: 4px;
  align-self: center;
  padding-top: 3em;
  padding-left: 5em;
  white-space: nowrap;
}

.certified-text {
  font-size: 3.5px;
  align-self: self-end;
  justify-self: center;
  white-space: nowrap;
  display: none;
  @media only screen and (min-width: 645px) {
    display: block;
  }
}

.barcode-wrapper {
  max-width: 18px;
  margin-right: 0.2em;
  margin-top: 0.25em;
  justify-self: end;
}

.barcode-text {
  font-size: 4.5px;
  text-align: center;
}

.game-title {
  position: relative;
  z-index: 1;
  justify-self: center;
  padding: 0px 1rem;
  background-color: var(--primary-bg);
}

.game-title span {
  font-size: clamp(0.875rem, 0.6083rem + 1.3333vw, 1.25rem);
  color: var(--cyber-green);
}

/*=========== MAIN CONTENT ELEMENTS  ===========*/
.main-wrapper {
  color: var(--cyber-green);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.left-svg-container,
.right-svg-container {
  width: var(--lr-svg-width);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='636' viewBox='0 0 10 636' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 636L0 595.284H9.99922L9.99922 636H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 463.883L0.000854492 423.167H10.0001L10.0001 463.883H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 573.064L0.000854492 563.811H10.0001V573.064H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 541.61L0.000854492 532.357H10.0001V541.61H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 495.344L0.000854492 486.09H10.0001V495.344H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 408.354L0.000854492 399.1H10.0001V408.354H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 389.848L0.000854492 380.595H10.0001V389.848H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 371.357L0.000854492 362.103H10.0001V371.357H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000732422 308.414L0.000732422 299.16H9.99996V308.414H0.000732422Z' fill='%23DEFF5D'/%3E%3Cpath d='M0.000854492 273.254L0.000854492 264H10.0001V273.254H0.000854492Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 25.8882L0 9.91821e-05H9.99952L9.99952 25.8882H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 240.055L0 234.171H9.99952V240.055H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 220.051L0 214.168H9.99952V220.051H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 190.63L0 184.746H9.99952V190.63H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 135.328L0 129.444H9.99952V135.328H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 123.562L0 117.678H9.99952V123.562H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 111.792L0 105.908H9.99952V111.792H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 71.7847L0 65.901H9.99952V71.7847H0Z' fill='%23DEFF5D'/%3E%3Cpath d='M0 49.4287L0 43.5451H9.99952V49.4287H0Z' fill='%23DEFF5D'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
}

.main {
  display: grid;
  flex: 1;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid var(--cyber-green);
  padding: 1rem;
  max-width: 43.75rem;
  justify-content: center;

  @media only screen and (min-width: 550px) {
    grid-template-columns: auto 1fr clamp(
        3.7188rem,
        1.2969rem + 7.0455vw,
        4.6875rem
      );

    grid-template-rows: auto auto 1fr;
  }
}

.player-ui {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
  padding: 0.5rem 0;
  font-size: clamp(1rem, 0.1806rem + 2.2222vw, 1.25rem);
}

.player-ui::before {
  content: "";
  position: absolute;
  left: calc(-55vw + 50%);
  width: 110vw;
  top: 0;
  bottom: 0;
  background-color: #3a4001a4;
  border-top: 0.25px solid #a6bb51;
  border-bottom: 0.25px solid #a6bb51;
  z-index: -1;
}

:where(.player1, .player2) .score-wrapper {
  display: flex;
}

.player2 .score-wrapper {
  justify-content: flex-end;
}

:where(.player1, .player2) span,
.player-name {
  line-height: 1.4;
  font-family: "Saira Condensed ExtraLight";
}

.player-name {
  border-top: 1px solid var(--cyber-green);
  border-bottom: 1px solid var(--cyber-green);
}

.cyber-bar {
  grid-column: 1;
  grid-row: 3;
  width: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='331' viewBox='0 0 27 331' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.83398 177.718V178.115H14.7881L14.7881 322.894H12.1611V323.556H14.7881V331H1.94629L1.94629 312.066L0 307.565L4.07422 298.898L4.07422 248.647L4.86523 247.39L4.07422 246.132L4.11914 44.666L14.7881 54.5664L14.7881 177.718H4.83398ZM4.11914 44.0254V42.875L5.7207 40.875L1.88574 37.3096L1.88574 6L10 0L14.7881 0L14.7881 53.9268L4.11914 44.0254ZM4.66113 14.2168V14.6611H11.0674L11.0674 14.2168H4.66113ZM4.93945 88.8584V91.7705H7.86426V88.8584H4.93945ZM4.93945 93.7578V94.4199H7.86426V93.7578H4.93945ZM4.93945 96.2725V96.9346H7.86426V96.2725H4.93945ZM4.93945 100.773V101.436H7.86426V100.773H4.93945ZM4.93945 102.098V102.76H7.86426V102.098H4.93945ZM4.93945 103.422V104.084H7.86426V103.422H4.93945ZM4.93945 109.644V110.306H7.86426V109.644H4.93945ZM4.93945 112.953V113.615H7.86426V112.953H4.93945ZM4.93945 115.204V115.866H7.86426V115.204H4.93945ZM4.95117 245.203V249.994L6.64648 247.586L4.95117 245.203ZM5.03027 126.18V127.9L11.8105 134.438V132.717L5.03027 126.18ZM5.03027 133.594V135.314L13.4063 143.391V141.669L5.03027 133.594ZM9.23633 278.992L5.11523 275.019V276.74L9.23633 280.713V278.992ZM5.46387 130.327V132.049L13.8408 140.124V138.403L5.46387 130.327ZM6.67969 247.587L9.9707 249.994V245.179L6.67969 247.587ZM10.0342 273.06V273.645L10.2188 273.47V272.886L10.0342 273.06ZM15.1865 54.2959L15.1865 0L27 0L27 65.2588L15.1865 54.2959ZM15.1865 177.718L15.1865 54.9365L27 65.8994L27 177.718H15.1865ZM15.1865 331V323.556H19.0752V322.894H15.1865L15.1865 178.115H27L27 331H15.1865ZM16.1494 319.584V320.246H19.4736V319.584H16.1494ZM17.209 196.378L17.0059 196.579V198.855L19.5117 196.378H17.209ZM20.5273 196.379L17.0059 199.86V202.137L22.8301 196.379H20.5273ZM23.8457 196.378L17.0059 203.141V205.417L24.7949 197.717V196.378H23.8457ZM17.0059 206.422V208.698L24.7959 200.998L24.7959 198.722L17.0059 206.422ZM17.0059 209.702V211.979L24.7959 204.279V202.002L17.0059 209.702ZM17.0059 212.983V215.26L24.7959 207.56V205.283L17.0059 212.983ZM17.0059 216.264V218.541L24.7959 210.841V208.564L17.0059 216.264ZM17.0059 219.546V221.822L24.7959 214.122V211.846L17.0059 219.546ZM17.0059 222.826V225.103L24.7959 217.402V215.126L17.0059 222.826ZM17.0059 226.106V228.384L24.7959 220.684V218.407L17.0059 226.106ZM17.0059 229.388V231.664L24.7959 223.965V221.688L17.0059 229.388ZM17.0059 232.669V234.945L24.7959 227.245V224.969L17.0059 232.669ZM17.0059 236.017V238.293L24.7959 230.593V228.316L17.0059 236.017ZM17.0059 239.364V241.641L24.7959 233.94V231.664L17.0059 239.364ZM17.0059 242.712V243.917H18.0889L24.7959 237.288V235.012L17.0059 242.712ZM17.2129 316.671V317.995H17.8779V316.671H17.2129ZM19.1738 243.918H21.4766L24.7959 240.638V238.36L19.1738 243.918ZM20.498 2.66504V3.32715L23.4229 3.32715V2.66504L20.498 2.66504ZM20.498 5.18066V5.8418H23.4229V5.18066H20.498ZM20.498 9.68262V10.3447H23.4229V9.68262H20.498ZM20.498 11.0059V11.667H23.4229V11.0059H20.498ZM20.498 12.3291V12.9912H23.4229V12.3291H20.498ZM20.498 14.0508V16.9629H23.4229V14.0508H20.498ZM20.498 18.5518V19.2139H23.4229V18.5518H20.498ZM20.498 21.8613V22.5234H23.4229V21.8613H20.498ZM20.498 24.1113V24.7734H23.4229V24.1113H20.498ZM20.498 26.3633V29.2754H23.4229V26.3633H20.498ZM21.8701 180.384V183.296H24.7959V180.384H21.8701ZM22.5605 243.918H24.7959V241.708L22.5605 243.918Z' fill='%23DEFF5D'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
  clip-path: polygon(13.5px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 10px);
}

.board-cap {
  grid-column: 2;
  display: grid;
  background-color: var(--cyber-green);
  color: var(--primary-bg);
  overflow: hidden;
  white-space: nowrap;
  clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 35%);
  position: relative;
}

.board-cap-animate .board-cap-content {
  opacity: 0;
}

.board-cap > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.board-cap-content {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: clamp(0.625rem, 0.1806rem + 2.2222vw, 1.25rem);
  position: relative;
  z-index: 1;
  padding-left: 1em;
  font-family: "Saira Condensed Extralight";
}

.matrix-wrapper,
.tiles-svg-wrapper {
  width: clamp(0.75rem, 0.2167rem + 2.6667vw, 1.5rem);
}

.player-turn-display {
  line-height: initial;
}

.panel-backing {
  position: relative;
  grid-column: 2/3;
  grid-row: 3;
  background-color: var(--win-color);
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  padding: 0 2px;
}

.bp-row {
  font-size: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  top: -2em;

  font-family: inherit;
  opacity: 0;
}

.winner-label > span {
  padding-left: 0.75em;
  color: var(--winner-panel-color);
  font-size: clamp(0.4375rem, -1.925rem + 14vw, 0.875rem);
  opacity: 0;

  @media only screen and (min-width: 320px) {
    font-size: clamp(0.875rem, 0.2528rem + 3.1111vw, 1.75rem);
  }
}

.play-again {
  appearance: none;
  display: block;
  margin-left: auto;
  padding: 0.5em 1.75em;
  background-color: var(--winner-panel-color);
  border: none;
  color: var(--win-color);
  font-size: clamp(0.625rem, 0.1806rem + 2.2222vw, 1.25rem);
  font-family: inherit;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%, 0% 70%);
  transition: background-color 200ms ease-in-out;
}

.play-again:hover {
  background-color: var(--cyber-green);
  color: var(--winner-panel-color);
}

.winner-panel {
  position: relative;
  z-index: 1;
  background-color: var(--win-color);
  height: 75%;
  width: 100%;
  opacity: 0;
  line-height: 1.2;
  padding: 1em;
  font-size: clamp(0.4688rem, -0.1312rem + 3vw, 0.9375rem);
  font-family: "Saira Condensed Thin";
  color: var(--win-color);
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 4% 100%, 0% 95%);
  @media only screen and (min-width: 570px) {
    font-size: clamp(0.9375rem, -0.1312rem + 3vw, 1.3125rem);
  }
}

.board {
  display: grid;
  grid-column: 2/3;
  grid-row: 3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1;
  background-color: var(--primary-bg);
}

.board .cell {
  border: 1px solid var(--cyber-green);
  padding: 5px;
  box-sizing: content-box;
  display: grid;
  place-items: center;
  font-size: clamp(1.75rem, 0.5056rem + 6.2222vw, 3.5rem);
  user-select: none;
}

.hover-box {
  display: none;
  width: 50%;
  height: 50%;
  background-color: hsla(183, 99%, 71%, 0.35);
  border: 0.05em solid var(--cyber-blue);
  pointer-events: none;
}

.cell:hover {
  box-shadow: inset 0px 0px 0.1em 0.065em var(--cyber-blue);
}

.cell:hover :not(.hover-box.hide) {
  display: block;
}

.array-tracker {
  grid-row: 4;
  grid-column: 2;
  display: flex;
  border: 1px solid var(--cyber-green);
  overflow: auto;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: var(--primary-bg);

  @media only screen and (min-width: 550px) {
    grid-column: 3/4;
    grid-row: 3;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.625rem;
  }

  @media only screen and (min-width: 340px) {
    padding: 0.5rem;
    gap: 0.5rem;
  }
}

.array-tracker > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  aspect-ratio: 1;
  outline: 1px dashed var(--cyber-green);

  @media only screen and (min-width: 550px) {
    flex: initial;
  }
}

.array-tracker > div:has(span.marked) {
  outline: 1px solid var(--cyber-green);
}

.array-tracker span {
  font-size: clamp(0.625rem, 0.0461rem + 2.8947vw, 1.3125rem);
}

.hide {
  display: none;
}

/*=========== BOTTOM ANIMATED LINE ELEMENTS  ===========*/
.animated-lines {
  grid-row: 3;
  height: 50px;
  display: grid;
  align-items: center;
  position: relative;
  z-index: 0;
}

.bar {
  border-bottom: 0.5px solid var(--cyber-green);
}

.bar-slide-up {
  --distance-to: -15vh;
  --distance-from: 0;
  --opacity-to: 0;
  --opacity-from: 1;
  animation: slideUp 500ms linear both;
}

.bar-slide-down {
  --distance-to: 0;
  --distance-from: -15vh;
  --opacity-to: 1;
  --opacity-from: 0;
  animation: slideDown 500ms linear both;
}

/*=========== DECORATIVE TEXT AND LOGOS  ===========*/
.module-text,
.match-text,
.integrity-text {
  position: absolute;
  font-family: "Saira Condensed";
  opacity: 0;
  line-height: initial;
}

.tiles-svg-wrapper {
  align-self: center;
  margin-left: 1.125rem;
  opacity: 0;
}

.module-text,
.match-text {
  font-size: clamp(0.1406rem, 0.0406rem + 0.5vw, 0.2813rem);
  top: 30%;
}

.module-text {
  left: 50%;
}

.match-text {
  left: 75%;
}

.integrity-text {
  font-size: 5px;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
  font-size: clamp(0.0938rem, 0.0271rem + 0.3333vw, 0.1875rem);
  line-height: 1.2;
}

.model-text {
  margin-left: auto;
  padding-right: 1rem;
  position: relative;
  display: grid;
  place-items: center;
  font-size: 3px;
}

.model-text::before {
  content: "";
  position: absolute;
  top: 90%;
  left: -65%;
  width: 60%;
  height: 0.5px;
  background-color: var(--primary-bg);
}

/*=========== ANIMATIONS  ===========*/

/************ Board Cap Animations  ************/
.board-cap-animate {
  width: clamp(0.625rem, 0.1806rem + 2.2222vw, 1.25rem);
  justify-self: center;
  background-color: var(--win-color);
  animation: blink var(--cap-blink-duration) 2 forwards,
    expandLeftRight var(--cap-expand-duration) var(--cap-expand-delay) forwards;
}

.blink {
  animation: blink 300ms 3 forwards;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-red {
  animation: flashRed 100ms 2;
}

@keyframes flashRed {
  0% {
    background-color: var(--cyber-red);
  }
  50% {
    background-color: var(--primary-bg);
  }
  100% {
    background-color: var(--cyber-red);
  }
}

@keyframes expandLeftRight {
  to {
    width: 100%;
  }
}

.board-cap-fade-in {
  animation: turnFadeIn 200ms forwards;
}

@keyframes turnFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cap-background {
  transform-origin: right;
  transform: scaleX(0) scaleY(0.075);
  background-color: var(--cyber-green);
}

.board-cap-animate-reverse {
  animation: expandLeft 200ms 1200ms forwards,
    expandVertically 300ms 1400ms forwards;
}

@keyframes expandLeft {
  to {
    transform: scaleX(1) scaleY(0.05);
  }
}

@keyframes expandVertically {
  to {
    transform: scaleX(1) scaleY(1);
  }
}

/************ Backing Panel Animations  ************/
.expand-down {
  animation: expandDown var(--backPanel-expand-duration)
    var(--back-panel-expand-delay) forwards;
}

@keyframes expandDown {
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.expand-down-reverse {
  animation: expandDownReverse var(--backPanel-expand-duration)
    var(--back-panel-expand-delay) both;
}

@keyframes expandDownReverse {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 1;
  }
}

/************ Winner Panel Animations  ************/
.fade-in {
  animation: fadeIn var(--winner-panel-duration) var(--winner-panel-delay)
    forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    background-color: var(--winner-panel-color);
  }
}

.fade-in-reverse {
  animation: fadeInReverse var(--winner-panel-duration) 500ms both;
}

@keyframes fadeInReverse {
  from {
    opacity: 1;
    background-color: var(--winner-panel-color);
  }
  to {
    opacity: 0;
    background-color: var(--win-color);
  }
}

/************ New Game Button Animations  ************/
.slide-down {
  --distance-to: 3em;
  --distance-from: -3em;
  --opacity-to: 1;
  --opacity-from: 0;
  animation: slideDown var(--newGame-button-duration)
    var(--newGame-button-delay) forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(var(--distance-from));
    opacity: var(--opacity-from);
  }
  to {
    transform: translateY(var(--distance-to));
    opacity: var(--opacity-to);
  }
}

.slide-down-reverse {
  --distance-to: -3em;
  --distance-from: 3em;
  --opacity-to: 0;
  --opacity-from: 1;
  animation: slideUp var(--newGame-button-duration) forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(var(--distance-from));
    opacity: var(--opacity-from);
  }
  to {
    transform: translateY(var(--distance-to));
    opacity: var(--opacity-to);
  }
}

/************ Decorative Header Bar Animations  ************/
.flicker {
  animation: flicker 15000ms linear infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  0.4% {
    opacity: 0.3;
  }
  1.3% {
    opacity: 1;
  }
  2% {
    opacity: 0.3;
  }
  2.7% {
    opacity: 1;
  }
  3.2% {
    opacity: 0.3;
  }
  4% {
    opacity: 0.3;
  }
  6% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
