:root {
  --primary-bg: hsl(260, 23%, 8%);
  --primary-bg-transparent: hsla(260, 23%, 8%, 0.9);
  --cyber-green: hsl(72, 100%, 68%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--cyber-green);
}

body {
  font-family: "Saira Condensed";
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
  background-color: var(--primary-bg);
  padding: 2rem;
  gap: 2rem;
}

.titling-wrapper {
  /* alternative: make header display: grid, justify-content: left */
  width: fit-content;
}

.stacked {
  display: grid;
  align-items: center;
}

.stacked > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.grid-points {
  height: 1.875rem;
  filter: drop-shadow(0 0 0.05em var(--cyber-green));
}

.game-title {
  justify-self: center;
  padding: 0px 1rem;
  backdrop-filter: blur(0.5px);
  background-color: var(--primary-bg-transparent);
}

.game-title span {
  font-size: 1.25rem;
  color: var(--cyber-green);
}

.main-wrapper {
  color: var(--cyber-green);
}

.main {
  outline: 1px solid var(--cyber-green);
  padding: 1rem;
}

.player-ui {
  display: flex;
  justify-content: space-between;
}

:where(.player1, .player2) .score-wrapper {
  display: flex;
}
.player2 .score-wrapper {
  justify-content: flex-end;
}

:where(.player1, .player2) span,
.player-name {
  line-height: 1.4;
  font-family: "Saira Condensed ExtraLight";
}

.player-name {
  border-top: 1px solid var(--cyber-green);
  border-bottom: 1px solid var(--cyber-green);
}
