:root {
  --primary-bg: hsl(260, 23%, 8%);
  --primary-bg-transparent: hsla(260, 23%, 8%, 0.9);
  --cyber-green: #deff5c;
  --cyber-blue: hsl(183, 99%, 71%);
  --win-color: hsl(149, 78%, 47%);
  --winner-panel-color: #14241a;
  --new-game-button: hsla(143, 29%, 11%, 0.8);

  --cap-blink-duration: 250ms;
  --cap-blink-transition-delay: 325ms;
  --cap-expand-duration: 300ms;
  --cap-expand-delay: calc(
    var(--cap-blink-transition-delay) + var(--cap-blink-duration)
  );
  --backPanel-expand-duration: 300ms;
  --back-panel-expand-delay: calc(
    var(--cap-expand-delay) + var(--cap-expand-duration)
  );
  --winner-panel-duration: 300ms;
  --winner-panel-delay: calc(
    var(--backPanel-expand-duration) + var(--back-panel-expand-delay)
  );

  --newGame-button-duration: 750ms;
  --newGame-button-delay: calc(
    var(--winner-panel-duration) + var(--winner-panel-delay)
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--cyber-green);
}

body {
  font-family: "Saira Condensed";
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
  background-color: var(--primary-bg);
  padding: 2rem;
  gap: 2rem;
}

.titling-wrapper {
  /* alternative: make header display: grid, justify-content: left */
  width: fit-content;
}

.stacked {
  display: grid;
  align-items: center;
}

.stacked > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.grid-points {
  height: 1.875rem;
  filter: drop-shadow(0 0 0.05em var(--cyber-green));
}

.game-title {
  justify-self: center;
  padding: 0px 1rem;
  backdrop-filter: blur(0.5px);
  background-color: var(--primary-bg-transparent);
}

.game-title span {
  font-size: 1.25rem;
  color: var(--cyber-green);
}

.main-wrapper {
  color: var(--cyber-green);
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  outline: 1px solid var(--cyber-green);
  padding: 1rem;
  max-width: 43.75rem;
  margin: auto;

  @media only screen and (min-width: 550px) {
    grid-template-columns: auto 1fr clamp(
        3.7188rem,
        1.2969rem + 7.0455vw,
        4.6875rem
      );

    grid-template-rows: auto auto 1fr;
  }
}

.player-ui {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

:where(.player1, .player2) .score-wrapper {
  display: flex;
}

.player2 .score-wrapper {
  justify-content: flex-end;
}

:where(.player1, .player2) span,
.player-name {
  line-height: 1.4;
  font-family: "Saira Condensed ExtraLight";
}

.player-name {
  border-top: 1px solid var(--cyber-green);
  border-bottom: 1px solid var(--cyber-green);
}

.cyber-bar {
  grid-column: 1;
  grid-row: 3;
  width: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='331' viewBox='0 0 27 331' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.83398 177.718V178.115H14.7881L14.7881 322.894H12.1611V323.556H14.7881V331H1.94629L1.94629 312.066L0 307.565L4.07422 298.898L4.07422 248.647L4.86523 247.39L4.07422 246.132L4.11914 44.666L14.7881 54.5664L14.7881 177.718H4.83398ZM4.11914 44.0254V42.875L5.7207 40.875L1.88574 37.3096L1.88574 6L10 0L14.7881 0L14.7881 53.9268L4.11914 44.0254ZM4.66113 14.2168V14.6611H11.0674L11.0674 14.2168H4.66113ZM4.93945 88.8584V91.7705H7.86426V88.8584H4.93945ZM4.93945 93.7578V94.4199H7.86426V93.7578H4.93945ZM4.93945 96.2725V96.9346H7.86426V96.2725H4.93945ZM4.93945 100.773V101.436H7.86426V100.773H4.93945ZM4.93945 102.098V102.76H7.86426V102.098H4.93945ZM4.93945 103.422V104.084H7.86426V103.422H4.93945ZM4.93945 109.644V110.306H7.86426V109.644H4.93945ZM4.93945 112.953V113.615H7.86426V112.953H4.93945ZM4.93945 115.204V115.866H7.86426V115.204H4.93945ZM4.95117 245.203V249.994L6.64648 247.586L4.95117 245.203ZM5.03027 126.18V127.9L11.8105 134.438V132.717L5.03027 126.18ZM5.03027 133.594V135.314L13.4063 143.391V141.669L5.03027 133.594ZM9.23633 278.992L5.11523 275.019V276.74L9.23633 280.713V278.992ZM5.46387 130.327V132.049L13.8408 140.124V138.403L5.46387 130.327ZM6.67969 247.587L9.9707 249.994V245.179L6.67969 247.587ZM10.0342 273.06V273.645L10.2188 273.47V272.886L10.0342 273.06ZM15.1865 54.2959L15.1865 0L27 0L27 65.2588L15.1865 54.2959ZM15.1865 177.718L15.1865 54.9365L27 65.8994L27 177.718H15.1865ZM15.1865 331V323.556H19.0752V322.894H15.1865L15.1865 178.115H27L27 331H15.1865ZM16.1494 319.584V320.246H19.4736V319.584H16.1494ZM17.209 196.378L17.0059 196.579V198.855L19.5117 196.378H17.209ZM20.5273 196.379L17.0059 199.86V202.137L22.8301 196.379H20.5273ZM23.8457 196.378L17.0059 203.141V205.417L24.7949 197.717V196.378H23.8457ZM17.0059 206.422V208.698L24.7959 200.998L24.7959 198.722L17.0059 206.422ZM17.0059 209.702V211.979L24.7959 204.279V202.002L17.0059 209.702ZM17.0059 212.983V215.26L24.7959 207.56V205.283L17.0059 212.983ZM17.0059 216.264V218.541L24.7959 210.841V208.564L17.0059 216.264ZM17.0059 219.546V221.822L24.7959 214.122V211.846L17.0059 219.546ZM17.0059 222.826V225.103L24.7959 217.402V215.126L17.0059 222.826ZM17.0059 226.106V228.384L24.7959 220.684V218.407L17.0059 226.106ZM17.0059 229.388V231.664L24.7959 223.965V221.688L17.0059 229.388ZM17.0059 232.669V234.945L24.7959 227.245V224.969L17.0059 232.669ZM17.0059 236.017V238.293L24.7959 230.593V228.316L17.0059 236.017ZM17.0059 239.364V241.641L24.7959 233.94V231.664L17.0059 239.364ZM17.0059 242.712V243.917H18.0889L24.7959 237.288V235.012L17.0059 242.712ZM17.2129 316.671V317.995H17.8779V316.671H17.2129ZM19.1738 243.918H21.4766L24.7959 240.638V238.36L19.1738 243.918ZM20.498 2.66504V3.32715L23.4229 3.32715V2.66504L20.498 2.66504ZM20.498 5.18066V5.8418H23.4229V5.18066H20.498ZM20.498 9.68262V10.3447H23.4229V9.68262H20.498ZM20.498 11.0059V11.667H23.4229V11.0059H20.498ZM20.498 12.3291V12.9912H23.4229V12.3291H20.498ZM20.498 14.0508V16.9629H23.4229V14.0508H20.498ZM20.498 18.5518V19.2139H23.4229V18.5518H20.498ZM20.498 21.8613V22.5234H23.4229V21.8613H20.498ZM20.498 24.1113V24.7734H23.4229V24.1113H20.498ZM20.498 26.3633V29.2754H23.4229V26.3633H20.498ZM21.8701 180.384V183.296H24.7959V180.384H21.8701ZM22.5605 243.918H24.7959V241.708L22.5605 243.918Z' fill='%23DEFF5D'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
  clip-path: polygon(13.5px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 10px);
  position: relative;
  left: 0px;
}

.board-cap {
  grid-column: 2;
  background-color: var(--cyber-green);
  color: var(--primary-bg);
  overflow: hidden;
  white-space: nowrap;
}

.board-cap-content {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: clamp(0.625rem, 0.1806rem + 2.2222vw, 1.25rem);
}

.panel-backing {
  position: relative;
  grid-column: 2/3;
  grid-row: 3;
  background-color: var(--win-color);
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  padding: 2px;
}

.play-again {
  appearance: none;
  position: relative;
  display: block;
  margin-left: auto;
  padding: 0.5em 1.75em;
  top: -2lh;
  opacity: 0;
  background-color: var(--winner-panel-color);
  border: none;
  color: var(--win-color);
  font-size: clamp(0.625rem, 0.1806rem + 2.2222vw, 1.25rem);
  line-height: 1;
  font-family: inherit;
}

.winner-panel {
  position: relative;
  z-index: 1;
  background-color: var(--win-color);
  height: 75%;
  width: 100%;
  opacity: 0;
}

.board {
  max-width: 100%;
  display: grid;
  grid-column: 2/3;
  grid-row: 3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1;
}

.board .cell {
  border: 1px solid var(--cyber-green);
  padding: 5px;
  box-sizing: content-box;
  display: grid;
  place-items: center;
  font-size: clamp(1.75rem, 0.5056rem + 6.2222vw, 3.5rem);
  line-height: 1;
}

.hover-box {
  display: none;
  width: 90%;
  height: 90%;
  background-color: hsla(183, 99%, 71%, 0.729);
  border: 2px solid var(--cyber-blue);
  pointer-events: none;
}

.cell:hover {
  border: 3px solid var(--cyber-blue);
}

.cell:hover :not(.hover-box.hide) {
  display: block;
}

.array-tracker {
  grid-row: 4;
  grid-column: 2;
  display: flex;
  border: 1px solid var(--cyber-green);
  overflow: auto;
  padding: 0.25rem;
  gap: 0.25rem;

  @media only screen and (min-width: 550px) {
    grid-column: 3/4;
    grid-row: 3;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.625rem;
  }

  @media only screen and (min-width: 340px) {
    padding: 0.5rem;
    gap: 0.5rem;
  }
}

.array-tracker > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  aspect-ratio: 1;
  outline: 1px dashed var(--cyber-green);

  @media only screen and (min-width: 550px) {
    flex: initial;
  }
}

.array-tracker span {
  line-height: 1;
  font-size: clamp(0.625rem, 0.0461rem + 2.8947vw, 1.3125rem);
}

.hide {
  display: none;
}

/*=========== ANIMATIONS  ===========*/

/************ Board Cap Animations  ************/
.board-cap-animate {
  width: clamp(0.625rem, 0.1806rem + 2.2222vw, 1.25rem);
  justify-self: center;
  background-color: var(--win-color);
  animation: blink var(--cap-blink-duration) 2 forwards,
    expandLeftRight var(--cap-expand-duration) var(--cap-expand-delay) forwards;
}

.board-cap-animate .board-cap-content {
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expandLeftRight {
  to {
    width: 100%;
  }
}

/************ Backing Panel Animations  ************/
.expand-down {
  animation: expandDown var(--backPanel-expand-duration)
    var(--back-panel-expand-delay) forwards;
}

@keyframes expandDown {
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.expand-down-reverse {
  animation: expandDownReverse 300ms 1050ms both;
}

@keyframes expandDownReverse {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 1;
  }
}
/************ New Game Button Animations  ************/
.slide-down {
  animation: slideDown var(--newGame-button-duration)
    var(--newGame-button-delay) forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(3lh);
    opacity: 1;
  }
}

.slide-down-reverse {
  animation: slideDownReverse 750ms forwards;
}

@keyframes slideDownReverse {
  from {
    transform: translateY(3lh);
    opacity: 1;
  }
  to {
    transform: translateY(-3lh);
    opacity: 0;
  }
}

/************ Winner Panel Animations  ************/
.fade-in {
  animation: fadeIn var(--winner-panel-duration) var(--winner-panel-delay)
    forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    background-color: var(--winner-panel-color);
  }
}

.fade-in-reverse {
  animation: fadeInReverse 300ms 750ms both;
}

@keyframes fadeInReverse {
  from {
    opacity: 1;
    background-color: var(--winner-panel-color);
  }
  to {
    opacity: 0;
    background-color: var(--win-color);
  }
}
